footer
	.wrapper
		.footer-wrapper.clearfix
			a.footer-link(href="#")
				img.footer-img(src="../img/footerLogo-frame.png")
				h2.footer-title аренда
			ul.footer-nav
				li
					span
					a(href="#") Главная
				li
					span
					a(href="#") Каталог техники
				li
					span
					a(href="#") Услуги
				li
					span
					a(href="#") Выполненные работы
				li
					span
					a(href="#") О компании
				li
					span
					a(href="#") Контакты
			.footer-information
			p.footer-contact &copy;Айтекс start 2016
			a.footer-email(href="http://www.itexstart.ru/") itexstart.ru
				img.itex(src="../img/footer-logo.png" alt="Айтекс")