header
	.wrapper
		.header-wrapper.clearfix
			a(href="#").header-link
				img(src="img/logo-frame.png" alt="Аренда").header-img
				h2.logo-title аренда
			p.header-title Услуги строительной техники
			p.header-contact
				!= 'г.Екатеринбург, ул.Маяковского, 25 <br> +7 (343) 222-20-17'
nav
	.wrapper
		.nav-menu
			a(href="#" alt="Главная").home
				img(src="img/home.png")
			ul
				li
					a(href="#") каталог техники
				li
					a(href="#") услуги
				li
					a(href="#") выполненные работы
				li
					a(href="#") о компании
				li
					a(href="#") контакты
					